@mixin flex(
	$direction: row,
	$wrap: wrap,
	$justify: flex-start,
	$align: flex-start,
	$row-gap: 0,
	$column_gap: 0
) {
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
	gap: $row-gap $column_gap;
}

@mixin grid($cols: 1, $rows: auto, $gap: 0) {
	display: grid;
	grid-template-columns: repeat($cols, 1fr);
	grid-template-rows: repeat($rows, 1fr);
	gap: $gap;
}
