@mixin flex(
	$direction: row,
	$wrap: wrap,
	$justify: flex-start,
	$align: flex-start,
	$row-gap: 0,
	$col-gap: 0
) {
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
	gap: $row-gap $col-gap;
}

@mixin grid($col-sz: 1fr, $row-sz: 1fr, $gap: 0) {
	display: grid;
	grid-template-columns: $col-sz;
	grid-template-rows: $row-sz;
	gap: $gap;
}

@mixin inputReset {
	appearance: none;
	background: unset;
	border: 0;
}

@mixin innerScroll {
	position: absolute;
	padding-inline: 0.5rem;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: opacity $transitionFast;
}

@mixin centerTitle {
	align-items: center;
	width: 100%;
	text-align: center;
}
