@use 'sass:color';

//$black: #000;

// $titleFont: 300 3.125rem/4rem $fontFamily;
// $titleFont: 300 var(--title-font-size, 3.125rem) /
// var(--title-line-height, 4rem) $fontFamily;
// $secondaryTitleFont: 300 40px $fontFamily;

// $subTitleFont: 300 1.125rem/1.125rem $fontFamily;
// $subTitleFont: 300 var(--subtitle-font-size, 1.125rem) /
// var(--subtitle-line-height, 1.125rem) $fontFamily;
// $interactionFont: 500 0.75rem/3rem $fontFamily;

// Colors
$white: #fff;
$black: color.invert($white);

$accentColor: #c8605f;

$brandBackground: color.change($black, $alpha: 0.04);
$navRibbon: #f4dddd;
$borderColor: color.change($black, $alpha: 0.1);

$borderFooterColor: color.adjust($borderColor, $alpha: -0.05);

$tiffanyBlue: #78dce2;
$footerBackground: color.adjust($white, $lightness: -3%);

// Fonts
$mainFontFam: 'Be Vietnam Pro', sans-serif;

$navLinks: 500 12px / 1.5em $mainFontFam;

$bannerTitleFont: 300 var(--bn-title-font-size, 3.125rem) /
	var(--bn-title-line-height, 4rem) $mainFontFam;
$bannerSubtitleFont: 300 var(--bn-subtitle-font-size, 1.125rem) /
	var(--bn-subtitle-line-height, 1.125rem) $mainFontFam;

$interactionFont: 500 0.75rem / 3rem $mainFontFam;

$sectionTitleFont: 300 40px / 1.2em $mainFontFam;
$sectionSubtitleFont: 300 16px / 1.5em $mainFontFam;

$tagFont: 400 10px / 24px $mainFontFam;

$labelFont: 500 14px / 1.2em $mainFontFam;

$cardTitleFont: 300 35px / 1.2em $mainFontFam;
$cardDescFont: 300 18px / 1.5em $mainFontFam;

$footerTitleFont: 400 14px / 1em $mainFontFam;
$linkFont: 300 14px / 1.5em $mainFontFam;

$inputFont: 300 14px / 19px $mainFontFam;

$footerNotes: 300 14px / 24px $mainFontFam;

// Other
$roundRadius: 200px;
