// Import des variables et Mixins
@import 'variables', 'mixins';

:root {
	--cols: 4;
}

// Reset général
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

// Colorisation de la sélection de texte
::selection {
	background-color: $accentColor;
	color: $white;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color $transitionFast;

	&:hover {
		color: $accentColor;
	}
}

ul {
	list-style: none;
}

button {
	@include inputReset;
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
}

// Bouton Shop
body .shopBtn {
	display: inline-block;
	font: $interactionFont;
	color: $black;
	text-transform: uppercase;
	transition: $transitionFast;
	transition-property: background, color;

	&.slimBtn {
		line-height: 1.5rem;
	}

	&:not(.slimBtn) {
		background-color: $white;
		padding-inline: 3rem;
		border-radius: $roundRadius;

		&:hover {
			background-color: $accentColor;
			color: $white;
		}
	}

	&.slimBtn:hover {
		color: $accentColor;
	}
}

body .navEl {
	position: relative;

	.bubbleNb {
		@include flex($justify: center, $align: center);
		position: absolute;
		left: 50%;
		bottom: 50%;
		padding-inline: 0.33rem;
		min-width: 23px;
		height: 23px;
		background-color: $accentColor;
		font: $bubbleFont;
		color: $white;
		border-radius: $roundRadius;
	}

	&:hover {
		color: $accentColor;
	}
}

//Header segment
.navContainer {
	.navTopRow {
		@include grid(repeat(3, 1fr));
		padding: 2rem;

		#social-panel ul {
			@include flex($wrap: nowrap, $col-gap: 0.75rem);

			.brandLinks {
				@include flex($justify: center, $align: center);
				aspect-ratio: 1/1;
				width: 33px;
				border-radius: 50%;
				background-color: $brandBackground;
				transition: $transitionFast;
				transition-property: background, color;

				&:hover {
					background-color: $accentColor;
					color: $white;
				}
			}
		}

		#logo {
			display: inline-flex;
			justify-self: center;
		}

		#nav-panel {
			@include flex($wrap: nowrap, $align: center, $col-gap: 1.5rem);
			font-size: 18px;
			justify-self: flex-end;

			span {
				transition: color $transitionFast;
			}
		}
	}

	#bottom-row {
		@include flex($wrap: nowrap, $justify: center, $align: center);
		background-color: $navRibbon;
		padding-block: 0.875rem;

		ul {
			@include flex($col-gap: 2.5rem);
			text-transform: uppercase;
			font: $navLinks;

			#current-page {
				color: $accentColor;
			}
		}
	}
}

section {
	div:has(> .card) {
		.card {
			background: no-repeat padding-box var(--thumb-var-1) center/100%;
			transition: background $transitionSlow;
		}

		&:hover .card {
			&[style*='--thumb-var-2'] {
				background-image: var(--thumb-var-2);
			}

			&:not([style*='--thumb-var-2']) {
				background-size: 110%;
			}
		}
	}

	&:not(#banner_slider) {
		max-width: 1335px;
		width: 100%;
		padding-inline: 1rem;
	}

	.sliderNav {
		@include flex(
			$wrap: nowrap,
			$justify: space-between,
			$align: center,
			$col-gap: 0.75rem
		);
		pointer-events: none;

		&:not(.outerScroll) {
			@include innerScroll;

			&:has(+ *:hover),
			&:has(button:hover) {
				opacity: 1;
			}
		}

		.sliderInteractBtn {
			position: relative;
			pointer-events: all;
			aspect-ratio: 1/1;
			width: 46px;
			border: 1px solid $borderColor;
			border-radius: 50%;
			transition: $transitionFast;
			transition-property: background, border, color;

			&:hover {
				color: $white;
				background-color: $black;
				border-color: $black;
			}
		}
	}

	.titleContainer {
		@include flex(column, $row-gap: 0.875rem);
		margin-bottom: 2.75rem;

		&.centeredTitle {
			@include centerTitle;
		}

		h2 {
			font: $sectionTitleFont;
			text-transform: uppercase;
		}

		span {
			font: $sectionSubtitleFont;
		}
	}

	&#banner_slider {
		@include flex($align: center);
		width: 100%;
		margin-bottom: 5.125rem;

		.sliderInteractBtn {
			width: 54px;
			border-color: $white;
			color: $white;
			margin-inline: 1rem;

			&:hover {
				background-color: $accentColor;
				border-color: transparent;
			}
		}

		#slider_container {
			@include flex($justify: center);
			width: 100%;

			.sliderSlides {
				@include flex($justify: center, $align: center);
				width: 100%;
				overflow: hidden;

				&:not(#slide_1) {
					position: absolute;
					left: 0;
				}
			}

			article {
				@include flex(column, nowrap, center, center, 1rem);
				position: absolute;
				color: $white;
				text-align: center;
				user-select: none;

				.slideTitle {
					font: $bannerTitleFont;
					text-transform: uppercase;
				}

				.slideSubTitle {
					font: $bannerSubtitleFont;
					text-transform: capitalize;
					margin-bottom: 1.875rem;
				}
			}

			.slideImg {
				width: 100%;
			}
		}
	}

	#to_shop_container {
		@include flex($justify: center);
		margin-bottom: 85px;

		& > div {
			width: 100%;
			flex: 0 0 50%;

			& > div {
				aspect-ratio: 1/1;
				width: 100%;

				&#to_shop_img_crayon {
					@include flex(column, nowrap, center, center);
					text-transform: capitalize;
					color: $white;

					p {
						font: $cardDescFont;
						text-transform: capitalize;
						margin-bottom: 20px;
					}

					h2 {
						font: $cardTitleFont;
						text-transform: uppercase;
						margin-bottom: 42px;
					}
				}
			}
		}
	}

	#help_container_content {
		@include flex(
			$wrap: nowrap,
			$justify: space-between,
			$align: center,
			$row-gap: 30px
		);
		position: relative;
		padding-bottom: 83px;
		margin-bottom: 86px;
		border-bottom: 1px solid $borderColor;

		.help_container_vignette {
			@include flex(column, nowrap, space-between, center);
			text-align: center;
			height: 100%;

			img {
				aspect-ratio: 1/1;
				object-fit: contain;
				height: 80px;
				margin-bottom: 38px;
			}

			h2 {
				font: $helpTitleFont;
				margin-bottom: 23px;
				text-transform: uppercase;
			}

			p {
				font: $helpTextFont;
			}
		}
	}

	&.listSliderRow {
		@include flex($justify: space-between, $align: center);
		position: relative;
		margin-bottom: 2.5rem;

		.contentList {
			@include flex($align: center);
			position: relative;
			width: 100%;

			.listSlide {
				@include flex($wrap: nowrap, $col-gap: 1rem);
				position: inherit;
				width: 100%;
				overflow: hidden;

				.slideEl {
					position: inherit;
					@include flex(
						column,
						nowrap,
						$align: center,
						$row-gap: 1rem
					);
					flex: 0 0
						calc(
							100% / var(--cols) - 1rem / var(--cols) *
								(var(--cols) - 1)
						);
					margin-bottom: 2.5rem;

					.card {
						position: inherit;
						aspect-ratio: 1/1;
						width: 100%;
						border: 1px solid $borderColor;
						cursor: pointer;
						overflow: hidden;

						.cardTags {
							@include flex($justify: space-between);
							pointer-events: none;
							width: 100%;
							padding: 0.8rem;

							.productTag {
								font: $tagFont;
								color: $white;
								text-transform: uppercase;
								border-radius: $roundRadius;
								padding-inline: 0.875rem;

								&.tagHot {
									background-color: $tiffanyBlue;
								}

								&.tagSale {
									background-color: $accentColor;
								}
							}

							&:has(.tagSale:only-child) {
								justify-content: flex-end;
							}
						}

						.cardInteract {
							@include flex(column, nowrap, $row-gap: 0.5rem);
							padding: 1rem;
							z-index: 1;

							button {
								aspect-ratio: 1/1;
								width: 35px;
								background-color: $white;
								border-radius: 50%;
								opacity: 0;
								transform: translateX(2rem);
								transition: $transitionFast;
								transition-property: color, opacity, transform;

								&:nth-child(2) {
									transition-delay: 100ms;
								}

								&:first-child {
									transition-delay: 200ms;
								}

								&:hover {
									color: $accentColor;
								}
							}
						}

						.cartBtn {
							display: inline-block;
							position: absolute;
							left: 0;
							bottom: 0;
							margin: 1rem;
							width: calc(100% - 2rem);
							background-color: $white;
							border: 1px dashed $borderColor;
							border-radius: $roundRadius;
							opacity: 0;
							font: $interactionFont;
							text-align: center;
							text-transform: uppercase;
							transform: translateY(100%);
							transition: $transitionFast;
							transition-property: background, border, color,
								opacity, transform;

							&:hover {
								background-color: $accentColor;
								color: $white;
								border-color: transparent;
							}
						}
					}

					&:hover .card {
						.cartBtn {
							opacity: 1;
							transform: translateY(0);
						}

						.cardInteract > button {
							transform: translateX(0);
							opacity: 1;
						}
					}
				}

				.cardDetails {
					text-align: center;
					font: $labelFont;

					h3 {
						font-weight: inherit;
						text-transform: uppercase;
						margin-bottom: 0.75rem;
					}
				}

				&.catSlide .slideEl {
					align-items: flex-start;
				}
			}
		}
	}

	#product_showcase_container {
		@include flex($justify: center, $align: center);
		margin-bottom: 86px;

		h2 {
			font: 300 55px / 60px 'Be Vietnam Pro', sans-serif;
			text-transform: uppercase;
			margin-bottom: 28px;
		}

		#product_showcase_no_img {
			width: 50%;

			#product-showcase-p {
				font: 300 16px / 26px 'Be Vietnam Pro', sans-serif;
				max-width: 420px;
				margin-top: 50px;
				margin-bottom: 50px;
			}

			#see-more {
				display: inline-block;
				color: white;
				text-decoration: none;
				background-color: black;
				padding-inline: 3rem;
				border-radius: 30px;
				font: $interactionFont;
				text-transform: uppercase;
			}
		}

		#product_showcase_img {
			width: 50%;
			height: 640px;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
			background-image: url(../images/banner/banner-33.jpg);
			transition: background $transitionSlow;

			&:hover {
				background-size: auto 110%;
			}
		}

		#product_showcase-index {
			aspect-ratio: 59/74;
			height: 370px;
			background-image: url(../images/banner/banner-34.jpg);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
		}
	}

	&#products_recommendation {
		@include grid(2fr 1fr, $gap: 1rem);
		margin-bottom: 5.625rem;

		.productCard {
			position: relative;
			padding: 2.375rem;
			background: no-repeat var(--thumb-var-1) center/ auto 100%;
			text-transform: uppercase;
			transition: background $transitionSlow;

			h2 {
				font: $cardTitleFont;
			}

			& > span {
				font: $cardDescFont;
				text-transform: capitalize;
				margin-bottom: 1rem;
			}

			&:not(.largeCard) {
				aspect-ratio: 1.07/1;
			}

			&:hover {
				background-size: auto 110%;
			}
		}

		.largeCard {
			@include flex(column, nowrap, flex-end);
			padding: 5.625rem 3.125rem;
			color: $white;
			&:hover {
				background-size: auto 110%;
			}
		}
	}
}

#help-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer {
	@include flex($row-gap: 4rem);
	padding: 5.625rem 1.875rem 0;
	background-color: $footerBackground;

	.footCol {
		&:not(#bottom-row) {
			@include flex(column, nowrap, $row-gap: 2rem);
			flex: 0 0 25%;

			h2 {
				text-transform: uppercase;
				font: $footerTitleFont;
			}

			ul {
				@include flex(column, nowrap, $row-gap: 0.75rem);
				font: $linkFont;
				text-transform: capitalize;

				li {
					@include flex(
						$wrap: nowrap,
						$align: center,
						$col-gap: 0.5rem
					);
				}
			}
		}

		&#bottom-row {
			@include flex($justify: space-between);
			width: 100%;
			padding-block: 2.5rem;
			border-top: 1px solid $borderFooterColor;

			& > div {
				font: $footerNotes;
			}

			#mailto {
				@include flex(column, $row-gap: 1rem);
				max-width: 368px;

				#mail-input {
					@include flex(
						$wrap: nowrap,
						$justify: space-between,
						$align: center
					);
					width: 100%;
					border-bottom: 1px solid $black;

					input {
						@include inputReset;
						padding-left: 1rem;
						height: 42px;
						font: $inputFont;
						width: 100%;

						&::placeholder {
							color: inherit;
						}
					}

					#mail-submit {
						padding-inline: 0.25rem;
						font-size: 1.125rem;
						line-height: 1.5em;
						transition: color $transitionFast;

						&:hover {
							color: $accentColor;
						}
					}
				}
			}

			#copy {
				@include flex(
					column,
					$justify: center,
					$align: flex-end,
					$row-gap: 28px
				);
			}
		}
	}
}

#navbar-mobile-endpage {
	@include grid(repeat(4, 1fr));
	z-index: 10;
	position: sticky;
	bottom: 0;
	padding: 0.75rem 1rem;
	background-color: $white;
	box-shadow: 0 1px 12px 2px hsla(0, 0%, 56%, 0.3);

	.navEl {
		@include flex(column, $align: center, $row-gap: 4px);
		width: 100%;
		text-align: center;
		font-size: 18px;

		& > span {
			font-family: $mainFontFam;
			font-weight: 400;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			margin-top: 3px;
		}

		.bubbleNb {
			left: unset;
			bottom: unset;
			top: -25%;
			right: 25%;
		}
	}
}
