@media only screen and (min-width: 1200px) {
  .navContainer#navbar-mobile,
  #navbar-mobile-endpage {
    display: none;
  }
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  main .listSliderRow .contentList .listSlide .slideEl .card .cardInteract {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  main section .sliderNav:not(.outerScroll) {
    opacity: 0;
  }
}
@media only screen and (max-width: 1199px) {
  #navbar-desktop {
    display: none;
  }
  .navContainer .navTopRow {
    padding: 2rem 2rem 2rem 1rem;
    align-items: center;
  }
  .slideImg {
    height: 505px;
  }
  html body section div.sliderNav {
    opacity: 1;
  }
  html body section div.sliderNav.outerScroll {
    position: absolute;
    padding-inline: 0.5rem;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: opacity 300ms ease;
  }
  .headList {
    --cols: 3;
  }
  section#banner_slider .sliderInteractBtn {
    width: 44px;
    margin-inline: 0.25rem;
  }
  section.listSliderRow .contentList .listSlide .slideEl .card .cartBtn,
  section.listSliderRow .contentList .listSlide .slideEl .card .cardInteract button.fa-arrows-rotate {
    display: none;
  }
  section.listSliderRow .contentList .listSlide .slideEl .card .cardInteract {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  section.listSliderRow .contentList .listSlide .slideEl .card .cardInteract button {
    opacity: 1;
    transform: none;
  }
  section .sliderNav .sliderInteractBtn {
    width: 35px;
  }
  section#products_recommendation .productCard {
    padding: 1rem;
  }
  section#products_recommendation .productCard.largeCard {
    padding: 2rem;
  }
  section#products_recommendation .productCard h2 {
    margin-bottom: 1.25rem;
  }
  section#products_recommendation .productCard > span {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 1019px) {
  :root {
    --cols: 3;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --c-title-size: 1.625rem;
  }
  footer {
    padding: 5.625rem 0.875rem 0;
  }
  footer .footCol:not(#bottom-row) {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --c-title-size: 1.5rem;
    --bn-title-size: 1.75rem;
    --bn-title-height: 2.125rem;
    --bn-subtitle-size: 0.75rem;
    --sec-title-size: 2.125rem;
    --cols: 2;
  }
  section .titleContainer {
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 1.875rem;
  }
  section .headList {
    --cols: 1;
  }
  section#banner_slider #slider_container article .slideSubTitle {
    margin-bottom: 0.625rem;
  }
  section #to_shop_container > div {
    flex-basis: 100%;
  }
  section #help_container_content {
    flex-direction: column;
  }
  section #help_container_content .help_container_vignette h2 {
    margin-bottom: 5px;
  }
  section #help_container_content .help_container_vignette img {
    margin-bottom: 13px;
  }
  section#products_recommendation {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr;
  }
  section#products_recommendation .productCard {
    padding: 1rem;
  }
  section#products_recommendation .productCard h2 {
    margin-bottom: 0.625rem;
  }
  section#products_recommendation .productCard > span {
    margin-bottom: 0;
  }
  footer .footCol#bottom-row {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  footer .footCol#bottom-row #copy {
    align-items: center;
  }
}
@media only screen and (min-width: 481px) {
  .footCol span {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --cols: 1;
  }
  footer {
    gap: 0;
  }
  footer h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 0;
    width: 100%;
  }
  footer ul {
    height: 0;
    overflow: hidden;
    transition: 300ms ease;
    transition-property: height, margin;
  }
  footer ul#developed {
    margin-bottom: 1.5rem;
  }
  footer .footCol:not(#bottom-row) {
    flex-basis: 100%;
    row-gap: 1.5rem;
  }
}/*# sourceMappingURL=responsive.css.map */