@import 'mixins', 'variables';

@media only screen and (min-width: 1200px) {
	.navContainer#navbar-mobile,
	#navbar-mobile-endpage {
		display: none;
	}

	main {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-start;

		.listSliderRow .contentList .listSlide .slideEl .card .cardInteract {
			flex-direction: column-reverse;
			align-items: flex-end;
		}

		section .sliderNav:not(.outerScroll) {
			opacity: 0;
		}
	}
}

@media only screen and (max-width: 1199px) {
	#navbar-desktop {
		display: none;
	}

	.navContainer {
		.navTopRow {
			padding: 2rem 2rem 2rem 1rem;
			align-items: center;
		}
	}

	.slideImg {
		height: 505px;
	}

	html body section div.sliderNav {
		opacity: 1;

		&.outerScroll {
			@include innerScroll;
		}
	}

	.headList {
		--cols: 3;
	}

	section {
		&#banner_slider {
			.sliderInteractBtn {
				width: 44px;
				margin-inline: 0.25rem;
			}
		}

		&.listSliderRow .contentList .listSlide .slideEl .card {
			.cartBtn,
			.cardInteract button.fa-arrows-rotate {
				display: none;
			}

			.cardInteract {
				position: absolute;
				bottom: 0;
				right: 0;

				button {
					opacity: 1;
					transform: none;
				}
			}
		}

		.sliderNav .sliderInteractBtn {
			width: 35px;
		}

		&#products_recommendation .productCard {
			padding: 1rem;

			&.largeCard {
				padding: 2rem;
			}

			h2 {
				margin-bottom: 1.25rem;
			}

			& > span {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media only screen and (max-width: 1019px) {
	:root {
		--cols: 3;
	}
}

@media only screen and (max-width: 991px) {
	:root {
		--c-title-size: 1.625rem;
	}

	footer {
		padding: 5.625rem 0.875rem 0;

		.footCol:not(#bottom-row) {
			flex-basis: 50%;
		}
	}
}

@media only screen and (max-width: 767px) {
	:root {
		--c-title-size: 1.5rem;
		--bn-title-size: 1.75rem;
		--bn-title-height: 2.125rem;
		--bn-subtitle-size: 0.75rem;
		--sec-title-size: 2.125rem;

		--cols: 2;
	}

	section {
		.titleContainer {
			@include centerTitle;
			margin-bottom: 1.875rem;
		}

		.headList {
			--cols: 1;
		}

		&#banner_slider #slider_container article .slideSubTitle {
			margin-bottom: 0.625rem;
		}

		&#products_recommendation {
			grid-template-columns: 100%;
			grid-template-rows: 1fr 2fr;

			.productCard {
				padding: 1rem;

				h2 {
					margin-bottom: 0.625rem;
				}

				& > span {
					margin-bottom: 0;
				}
			}
		}
	}

	footer .footCol#bottom-row {
		flex-direction: column;
		align-items: center;
		row-gap: 1rem;

		#copy {
			align-items: center;
		}
	}
}

@media only screen and (min-width: 481px) {
	.footCol span {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	:root {
		--cols: 1;
	}

	footer {
		gap: 0;

		h2 {
			@include flex($justify: space-between);
			width: 100%;
		}

		ul {
			height: 0;
			overflow: hidden;
			transition: $transitionFast;
			transition-property: height, margin;

			&#developed {
				margin-bottom: 1.5rem;
			}
		}

		.footCol:not(#bottom-row) {
			flex-basis: 100%;
			row-gap: 1.5rem;
		}
	}
}
